@CHARSET "UTF-8";

/** #00abe0 **/

html{
    height: 100%;
}
body{
    background-color: #fff;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    margin: 0px;
}
form.login {
	width: 100%; 
    height: 100%;
  	min-height: 100%;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
  	justify-content: center;
}
.login#container {
    display: block;
    float: right;
    width: 100%;
    height: 100%;
    background-color: #20272a;
}
.entrar{
    border: none;
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}
div.logo{
    color: #fe4d4d;
    font-size: 100px;
    margin-bottom: 35px;
}
div#txt.linha {
	display:table;
	width:100%;
	border-bottom: solid 1px #323d42;
	font-size:14px;
	margin: 5px 0px;
}
div.icon{
    width: 7%;
    padding-right: 10px;
    float: left;
    margin-top: 13px;
    color: #fe4d4d;
}
input.txt {
    width: 85% !important;
    margin: 0px;
    float: left;
    padding: 13px 0px !important;
    background: transparent;
    border: none !important;
    box-shadow: none;
    color: #879496;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 10px;
}
input:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
}
div#btn.linha {
    display: table;
    width: 100%;
    margin: 40px 0px;
}
.btn {
    float: left;
    width: 50%;
    padding: 8px 0px;
    background: #20272a;
    border: 2px solid #fe4d4d;
    color: #fe4d4d;
    border-radius: 30px;
    box-shadow: none;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
}
.btn:hover {
    outline: 0 !important;
    background: #fe4d4d;
    color:#fff;
}
.btn:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
}
a {
    color: #f7f7f7;
    font-size: 12px;
    float: right;
    padding: 10px 0px;
    text-decoration: none;
    opacity: 0.5;
}
a:hover{
	opacity: 1;
}

/* Menu */
form.menu{
	height:100%
}
.ui-menu{
    width: 99%!important;
    padding: 0!important;
    height:100%;
    overflow-x: hidden;
}
.ui-widget-content {
    border: none;
    background: #eff3f6;
    padding:0px;
}
.ui-layout-north .ui-layout-unit-content{
	width:100%!important;
	height:100%!important;
	background-color: #eff3f6!important;
        padding:0px;
        margin: 0px;
        overflow-y: hidden;
}
.ui-layout-west .ui-layout-unit-content{
	width:100%!important;
	height:100%!important;
	background-color: #313b3f!important;
}
.ui-layout-center{
    width:100%!important;
    height:100%!important;
    border-top: solid 1px #bcc7cf;
    background: #eff3f6;
}
.ui-menu .ui-menu-list .ui-widget-header {
    float: left;
    width: 100%;
    margin: -1px 0px;
    padding: 10px 0px;
    letter-spacing: 1px;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    background: #313b3f;
    color: #889597;
    text-shadow: none;
    border-radius: 0;
    border-left: 7px solid #fe4d4d;
    border-top: 0;
    border-bottom: 0;
    text-transform: uppercase!important;
}
.ui-menu .ui-menu-list .ui-widget-header:hover {
    background: #fe4d4d;
    color: #ffffff;
    box-shadow: none;
}
.ui-menu.ui-menu-toggleable li.ui-widget-header h3{
    padding-left: 2em;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
}
.ui-menu .ui-menu-list .ui-widget-header:focus {
    outline:none
}
.ui-menu .ui-menuitem-link {
    display: block;
    width: 100%;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    border: solid 1px transparent;
    float: left;
    line-height: normal;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 0;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 2px 0;
}
.ui-menu .ui-menuitem-link:hover {
    width: 100%;
    background: #20282b;
    color: #fe4d4d;
    box-shadow: none;
}
.ui-widget .ui-widget {
    font-size: 1em;
    /*background: #313b3f;*/
    background: #20282b;
}
div.logo-menu{
    width: 13%;
    height: 100%;
    color: #fe4d4d;
    font-size: 100px !important;
    margin-bottom: 35px;
    background: #313b3f;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
div.header{
    float: left;
    width: 70%;
    height: 100%;
    font-size: 10px !important;
    background: #eff3f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.logout{
    width: 17%;
    height: 100%;
    background: #eff3f6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ui-layout-resizer{
    display:none!important;
}

.btn-sair{
    display: inline-flex;
    box-shadow: none!important;
    border-top: none!important;
    text-shadow: none!important;
    background: #eff3f6!important;
    font-weight: bold !important;
    color: #fe4d4d !important;
    border: 2px solid #fe4d4d !important;
    border-radius: 50px;
    font-size: 12px!important;
    text-transform: uppercase!important;
    letter-spacing: 0px!important;
    padding: 5px 15px!important;
    outline: none;
    margin-right: 25px;
}
.btn-sair:hover{
    background: #fe4d4d!important;
    color: #fff!important;
        
}
.btn-sair:after{
    align-self:center;
    font-family:FontAwesome;
    font-size:18px;
    content:"\f08b"
}
div.container-table{
    position: relative;
    width: 87%;
}
div.table{
	margin: 15px;
        padding: 0 35px;
}
div.title{
    width: 87%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0px;
    /* font-weight: bold; */
    color: #fe4d4d;
}
.ui-paginator.ui-paginator-top{
    border-bottom: 0px none;
    border: 0;
    background: #eff3f6;
    padding-bottom: 22px;
}
.ui-paginator.ui-paginator-bottom{
    border-top: 0px none;
    background: #eff3f6;
    padding-top: 30px;
    border: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    font-weight: bold;
    color: #1C4257;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    background: #fe4d4d;
    border: 0;
    color: #fff;
    text-shadow: none;
    padding: 6px 10px !important;
}

.ui-datatable thead th, .ui-datatable tfoot td{
    font-weight: bold;
    color: #4f4f4f;
    padding: 10px;
    background: #eff3f6!important;
    text-transform: uppercase;
    font-size: 11px;
    border:none;
    border-width: 1px;
    border-style: solid;
    border-color: #dcdcdc;
}
.ui-datatable tbody td {
    padding: 4px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dcdcdc;
}