@CHARSET "UTF-8";

html{
    height: 100%;
}
body{
    background-color: #fff;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    margin: 0px;
}
form {
	width: 100%; 
    height: 85%;
  	min-height: 85%;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: flex-end;
  	align-items: flex-end;
  	-webkit-justify-content: flex-end;
  	justify-content: flex-end;
}
.login#back {
    width: 60%;
    height: 100%;
    margin: 0px;
    display: block;
    float: left;
    background-image: url("../imagens/suporte2.png");
}
.login#container {
    display: block;
    float: right;
    width: 40%;
    height: 100%;
    background-color: #182727;
}
.entrar{
    border: none;
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 70%;
}
div#txt.linha {
	display:table;
	width:100%;
	border-bottom: solid 1px #aba5a5;
	font-size:14px;
	margin: 5px 0px;
}
div.icon{
	width: 12%;
    float: left;
    margin-top: 13px;
    color: #fff;
}
input.txt {
    width: 85% !important;
    margin: 0px;
    float: left;
    padding: 13px 0px !important;
    background: transparent;
    border: none !important;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}
input:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
}
div#btn.linha {
	display: table;
    width: 100%;
    margin: 40px 0px;
}
.btn {
	font-size: 14px!important;
    font-weight: normal!important;
    letter-spacing: 1px!important;
	float: left;
    width: 40%;
    padding: 5px 0px;
    background: #3e6565;
    color: #fff;
    border: none;
    border-radius:30px;
    text-shadow: none!important;
}
.btn:hover {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
    border-bottom: solid 1px #aba5a5!important;
    background: #fff;
    color:#2F4F4F;
}
.btn:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
}
a {
    color: #e4d7d7;
    font-size: 14px;
    float: right;
    padding: 10px 0px;
    text-decoration: none;
    opacity: 0.5;
}
a:hover{
	opacity: 1;
}

